apiVersion: v1
baseDomain: {{ net_domain }}
compute:
- hyperthreading: Enabled
  name: worker
  replicas: {{ ocp_num_workers }}
controlPlane:
  hyperthreading: Enabled
  name: master
  replicas: {{ ocp_num_masters }}
metadata:
  name: {{ ocp_name }}
networking:
  clusterNetworks:
  - cidr: 10.254.0.0/16
    hostPrefix: 24
  networkType: OpenShiftSDN
  serviceNetwork:
  - 172.30.0.0/16
platform:
  none: {}
pullSecret: '{{ lookup('file',pull_secret) }}'
sshKey: '{{ lookup('file',ssh_key_pub) }}'
