{
 "id": "{{ item }}",
 "name": "{{ item }} profile",
 "ignition_id": "{{ item }}.ign",
 "boot": {
  "kernel": "/assets/{{ rhcos_kernel.1 }}",
  "initrd": ["/assets/{{ rhcos_initrd.1 }}"],
   "args": [
    "ip=dhcp",
    "rd.neednet=1",
    "console=tty0",
    "console=ttyS0",
    "coreos.inst=yes",
    "coreos.inst.install_dev=vda",
    "coreos.inst.image_url=http://matchbox.{{ net_domain }}:8080/assets/{{ rhcos_metal.1 }}",
    "coreos.inst.ignition_url=http://matchbox.{{ net_domain }}:8080/ignition?mac=${mac:hexhyp}"
   ]
 }
}