{% set ip_address = hostvars['bootstrap']['ip_a'] | ipaddr %}

#  bootstrap
dhcp-host={{ hostvars['bootstrap']['ip_mac'] | hwaddr }},{{ ip_address }}
host-record=bootstrap.{{ ocp_domain }},{{ ip_address }}
