{# jinja2 template #}
#  api api-int apps
address=/api.{{ ocp_domain }}/{{ ip_addr }}
address=/api-int.{{ ocp_domain }}/{{ ip_addr }}
address=/apps.{{ ocp_domain }}/{{ ip_addr }}

#  control plane
{# loop over the members of group masters from inventory #}
{# use iteration variable loop.index0 to set etcd records #}
{% for master in groups['masters'] | sort %}
{% set ip_a_master = hostvars[master]['ip_a'] | ipaddr %}
{% set ip_mac_master = hostvars[master]['ip_mac'] | hwaddr %}
dhcp-host={{ ip_mac_master }},{{ ip_a_master }}
host-record={{ master }}.{{ ocp_domain }},{{ ip_a_master }}
cname=etcd-{{ loop.index0 }}.{{ ocp_domain }},{{ master }}.{{ ocp_domain }}
srv-host=_etcd-server-ssl._tcp.{{ ocp_domain }},etcd-{{ loop.index0 }}.{{ ocp_domain }},2380,0,10
{% endfor %}
