{# jinja2 template #}
{# define variables for later use #}
{% set ip_first_usable = ip_cidr | ipaddr('next_usable') %}
{% set ip_last_usable = ip_cidr | next_nth_usable(8) %}
{% set ip_addr = ip_cidr | ipaddr('address') %}
domain={{ ocp_domain }}
local=/{{ ocp_domain }}/{{ ip_addr }}

#  A records for API and APPs
address=/api.{{ ocp_domain }}/{{ ip_addr }}
address=/api-int.{{ ocp_domain }}/{{ ip_addr }}
address=/apps.{{ ocp_domain }}/{{ ip_addr }}
